.navbar {
  margin-bottom: 0;
  background: #fff;
  // position: absolute;
  z-index: 100;
  width: 100%;
}

.navbar a {
  font-size: 16px;
  color: #333;
  
}

.navbar a:hover {
  background: transparent;
  color: #337ab7;
}