<div id="about">
  <div class="about-text">
    <img src="/assets/images/about-mobile.jpg" class="hidden-md hidden-lg" alt="Lauren Collier" />
    <h1 class="center">meet lauren</h1>
    <p>Welcome to the little corner of my website where I’m supposed to talk about myself. To be honest, I’d much rather see an about YOU section fill this page! But we’ll work on that later. ;)</p>

    <p>So hi! I am Lauren Collier! I am a photographer but thats just the tip of my iceberg. I am a wife, a teacher, enthusiast of all things crafty. I am a student at Dixie State University in the elementary education program. While photography is my joy, I have a deep and rich passion for learning that I haven’t been able to shake for years. Which is why I chose a degree in education. I have received some formal education in photography and hope to take more classes in the future. I am married to a tall, dark, handsome, bilingual graphic designer and our story is only really just beginning.</p>

    <p>I have been in business with Lauren Collier Photography for two years. I decided to go into business while also juggling being a student because I realized there is no better teacher than experience. While there is still so much for me to learn I am really excited about what my small business has become, and can’t wait to see where it goes!</p>

    <p>I am a lover of all things candid, natural, and realistic photos. The outdoors are my canvas and the sun is my light source. I know that the process of taking photos can be difficult for families, stressful for brides, and impossible for babies. But I am here to capture your life, no matter how it comes to me. My sessions are stress free, laughter filled, and enjoyed by all.</p>

    <p>So that brings us to you! You’ve found your way to this website to likely get a very important and meaningful memory documented in photographs. I am honored and can’t wait to be a part of this vital life experience. Please contact me with any questions you have and take a look around the rest of the site. I am beyond excited to get to know you and your story for the world.</p>

    <p>See you soon!</p>
    <h4>-Lauren</h4>
  </div>
</div>