#portfolio {
  background: #fff;
}

#portfolio .row,
#portfolio .col-xs-12,
#portfolio .col-md-6 {
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}

#portfolio h2 {
  margin: 0;
  color: #fff;
  font-size: 5em;
  font-weight: 100;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 1px #333;
  padding-top: 15%;
  text-align: center;
}

.category {
  position: relative;
  width: 100%;
  min-height: 400px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  background-position: center;
  cursor: pointer;
}

.category:hover {
  background-size: auto 110%;
}

@media all and (min-width: 768px) {
  #portfolio h2 {
    font-size: 6em;
  }
}

@media all and (min-width: 1200px) {
  #portfolio h2 {
    font-size: 9em;
  }
}